@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@ViewData["Message"]</h3> -->

<p>JustinBB aims to perform as an effective bulletin board software, similar to phpBB, SMF, vBulletin, etc. with influences from websites like Reddit. Users will be able to post content via text and images to share with other users. This is a port of a project with the same name, using ASP .NET Core and MySQL.</p>
